.level {
  margin-top: 40px;
}

.level__wrapper {
  margin: 0 16px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level__title {
  position: relative;
  margin-bottom: 10px;
}

.level__info {
  position: absolute;
  left: 100px;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(227, 190, 201, 0.12);
  cursor: pointer;

  svg {
    fill: #e3bec9;
  }
}

.level__interval {
  margin-bottom: 26px;
}

.level__child-votes {
  margin-top: 40px;
  font-size: 56px;
}

.level-prizes {
  width: 256px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-prizes__avatar {
  height: 129px;
  width: 176px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  background: url("../../images/decorations.png") no-repeat;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../../images/decorations@2x.png") no-repeat;
    background-position: center;
    background-size: contain;
  }

  img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
  }
}

.level-prizes__text {
  max-width: 190px;
  margin-bottom: 27px;
  text-align: center;
}

.level-prizes__title {
  margin-bottom: 16px;
}

.level-prizes__button {
  width: 128px;
  height: 48px;
  font-size: 17px;
}
