.new-in {
  margin-left: 16px;
}

.new-in__header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-in__header__text {
  margin-right: 16px;
  cursor: pointer;
}
.swiper__item {
  width: 160px;
}

.swiper__item__img {
  width: 160px;
  height: 128px;
  margin-bottom: 8px;
  border-radius: 6px;
  img {
    width: 100%;
    height: 100%;
  }
}