.new-in {
  margin-left: 16px;
  margin-bottom: 51px;
}

.new-in__header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-in__header__title {
  margin-left: 6px;
}

.new-in__header__text {
  margin-right: 16px;
  cursor: pointer;
}

.swiper__item {
  width: 160px;
}

.swiper__item__img {
  width: 158px;
  height: 123px;
  margin-bottom: 6px;
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
  }
}
