body {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  user-select: none;
  max-width: 500px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

input[type="file"] {
  color: transparent;
}

html {
  min-height: 100%;
  position: relative;
}

.root {
  min-height: 100%;
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #000;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

img {
  object-fit: cover;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  width: 100%;
  height: 56px;
  background: #47d580;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &--facebook {
    background: #3b5998;
  }
}

.headline--medium {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.headline--small {
  font-weight: 500;
}

.headline {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.text--medium {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #000;
}

.text-small {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.text-smaller {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
}

.text-tiny {
  font-size: 12px;
  line-height: 18px;
}

.text-pink {
  color: #ff7098;
}

.text-grey {
  color: #747474;
}

.text-black {
  color: #000;
}

.half-circle {
  width: 190px;
  height: 104px;
  border-bottom-left-radius: 105px;
  border-bottom-right-radius: 105px;
  border: 1px;
  border-top: 0;
  box-shadow:
    0 2px 4px rgba(239, 88, 160, 0.06),
    0 4px 4px rgba(209, 209, 209, 0.12),
    0 1px 8px rgba(163, 163, 163, 0.08);
}

.profiler-results {
  display: none;
}

.text-purple {
  color: #ca91fc;
}

.text-orange {
  color: #fa9e67;
}

.text-green {
  color: #47d580;
}

.text-yellow {
  color: #fdbd04;
}

.text-blue {
  color: #56ccf2;
}

.background-pink {
  background-color: #ff7098;
}

.background-purple {
  background-color: #ca91fc;
}

.background-orange {
  background-color: #fa9e67;
}

.background-green {
  background-color: #47d580;
}

.background-yellow {
  background-color: #fdbd04;
}

.background-blue {
  background-color: #56ccf2;
}

.text-red {
  color: #db3434;
}

.background-light-green {
  background-color: #c6d9c9;
}

.background-light {
  opacity: 0.5;
}

.svg-beige {
  fill: #d7afbb;
}

.svg-pink {
  fill: #ff7098;
}

.svg-grey {
  fill: #a3a3a3;
}

.svg-light-pink {
  fill: #e3bec9;
}

.animation--loader {
  position: fixed;
  left: calc(50% - 60px);
  top: calc(40% - 60px);
}
