.profile-header {
  margin: 20px 16px;
  display: flex;
  position: relative;
}

.profile-header__name {
  margin-top: 38px;
}

.profile-header__menu {
  position: absolute;
  top: -5px;
  right: 10px;
  display: flex;
}

.profile-header__notification {
  margin-right: 25px;
  margin-top: -3px;
}

.profile-header__img {
  width: 118px;
  height: 118px;
  margin-right: 16px;
  border-radius: 50%;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.profile-header__child {
  margin-bottom: 12px;
}

.profile-header__button {
  padding: 4px 15px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  background: #47d580;
  border-radius: 17px;
}

.profile-children {
  width: calc(100% - 32px);
  margin: 0 16px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-children__item {
  width: 45.2%;
  height: 215px;
  margin-bottom: 30px;
  border: 0.5px solid rgba(255, 112, 152, 0.3);
  box-sizing: border-box;
  box-shadow: 7px 8px 0 0 #f6eaee;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &--locker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.profile-children__img {
  width: 100%;
  height: 61.2%;
  margin-bottom: 24px;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

.profile-nav {
  margin-top: -5px;
  width: 100%;
  height: 60px;
  display: flex;
}

.profile-nav__item {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #747474;
  box-sizing: border-box;
  border-bottom: 2px solid #747474;
}

.profile-nav__item--active {
  color: #ff7098;
  border-color: #ff7098;
}

.profile-friends {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-friend__item {
  position: relative;
}

.profile-friend__wrapper {
  margin: 24px 21px 24px 16px;
  display: flex;
}

.profile-friend__invited {
  padding: 4px 15px;
  position: absolute;
  top: 14px;
  right: 21px;
  color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 17px;
}

.profile-friend__img {
  width: 72px;
  height: 72px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.profile-friend__names {
  margin-top: 7px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.profile-friend__parent {
  margin-bottom: 13px;
}

.fb-friend__item {
  width: 182px;
  height: 215px;
  margin-bottom: 30px;
  border: 0.5px solid rgba(255, 112, 152, 0.3);
  box-sizing: border-box;
  box-shadow: 7px 8px 0 0 #f6eaee;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-friend__img {
  margin-top: 25px;
  width: 72px;
  height: 72px;
  margin-bottom: 28px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.fb-friend__item__invite {
  padding: 7px 12px;
  margin-bottom: 20px;
  border-radius: 14px;
  color: white;
  background: #3b5998;
}

.profile-friends__subtitle {
  margin: 24px 16px;
  position: relative;
}

.fb-friend__slide {
  width: 182px;
  height: 240px;
  margin-right: 20px;
}

.fb-friend__name {
  max-width: 110px;
  text-align: center;
}

.fb-friend__prize {
  margin-top: auto;
  margin-bottom: 24px;
}

.fb-friend__heart {
  margin-top: 3px;
}

.fb-friend__swiper {
  margin-left: 18px;
  margin-right: 0;
}

.profile-friends__info {
  position: absolute;
  left: 150px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(227, 190, 201, 0.12);
  cursor: pointer;
}

.profile-friends .info {
  margin: 10px auto;
  max-width: calc(100% - 32px);
}

.next-competition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-competition__img {
  width: 112px;
  height: 112px;
  background: linear-gradient(180deg, #fff 0%, #f1f1f1 92.71%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-competition__title {
  margin-bottom: 16px;
}

.next-competition__text {
  max-width: 310px;
  text-align: center;
  margin-bottom: 20px;
}

.next-competition__button {
  width: 185px;
  font-size: 16px;
  position: fixed;
  bottom: 100px;
}
