.entry {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry__img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 15px;

  img {
    width: 100%;
    height: 280px;
  }
}

.entry__share {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -19px;
  right: 22px;
  background: #47d580;
  cursor: pointer;
}

.entry__name {
  font-weight: normal;
  margin-bottom: 18px;
}

.entry__button {
  width: 232px;
  background: #ff7098;
  margin-bottom: 40px;
}

.entry__setting {
  padding: 8px;
  border-radius: 50%;
  background: rgba(222, 227, 228, 0.3);
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.entry-voters {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.entry-voters__list {
  width: 168px;
  display: flex;
  justify-content: center;
}

.entry-voters__item {
  margin: 0 8px;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.entry-previous__text {
  text-align: center;
  margin-bottom: 25px;

  svg {
    margin-right: 5px;
  }
}

.entry-previous__prize-icon {
  transform: scale(1.3);
  margin-bottom: 23px;
}

.entry-previous__enter {
  width: 139px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #47d580;
  box-sizing: border-box;
  border-radius: 30px;
  color: #47d580;
  margin-bottom: 46px;
}

.entry-parent {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin: 0 16px;
}

.entry-parent__img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-right: 30px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.entry-setting__list {
  width: 250px;
  position: absolute;
  top: 36px;
  right: 12px;
  background: rgba(249, 249, 249, 0.78);
  border-radius: 12px;
}

.entry-setting__item {
  padding-left: 16px;
  height: 50px;
  display: flex;
  align-items: center;
}

.entry-setting__item:not(:last-child) {
  border-bottom: 1px solid rgba(17, 17, 17, 0.3);
}

.entry-setting__img {
  margin-left: auto;
  margin-right: 16px;
  margin-top: -3px;
}

.entry_prize-time {
  margin-bottom: 10px;
  text-align: center;
}

.facebook__comments {
  width: 100%;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe {
  width: 100% !important;
}

.entry_button-prize {
  width: 251px;
  height: 52px;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #ff7098;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;

  svg {
    margin-right: 10px;
  }

  span {
    margin-right: 5px;
  }
}

.edit-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-entry__img {
  width: 176px;
  height: 112px;
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  background: url("../../images/decorations.png") no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../../images/decorations@2x.png") no-repeat;
    background-size: contain;
    background-position: center;
  }

  img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
  }
}

.edit-entry__name {
  margin-bottom: 5px;
}

.edit-entry__text {
  max-width: 363px;
  margin-bottom: 50px;
  text-align: center;
}

.edit-entry__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-entry__button {
  width: 333px;
  max-width: calc(100% - 32px);
  margin-bottom: 32px;
}
