.form {
  margin: 0 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-top: 90px;
  margin-bottom: 75px;
  text-align: center;
}

.form__input {
  width: 100%;
  height: 58px;
  border: 1px solid #ff81a8;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 22px;
  color: #e20c74;
  padding: 10px 20px;
}

.form__button {
  position: fixed;
  width: calc(100% - 30px);
  bottom: 100px;
}

.form__input:focus + .form__button {
  width: 100%;
  position: static;
  margin-top: 47px;
}

.form__button--small-margin {
  width: 100%;
  position: static;
  margin-top: 47px;
}

.progress {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.progress__line {
  width: calc(33% - 4px);
  height: 8px;
  background: #c6d9c9;
  border-radius: 6px;
}

.progress__line--bright {
  background: #47d580;
}

.form__button--disabled {
  background: #c6d9c9;
}
