env:
  RUBY_VERSION: 2.7.2

name: Run Tests & Linters
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}

      - name: Cache Gems
        id: gem-cache
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-

      - name: Install dependencies
        run: |
          gem install bundler
          bundler config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Setup DB
        run: |
          cp config/database.ci.yml config/database.yml
          bundler exec rake db:create RAILS_ENV=test
          bundler exec rake db:schema:load RAILS_ENV=test

      - name: Run tests
        run: bundler exec rspec

      - name: Zeitwerk Check
        run: bundle exec rails zeitwerk:check

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: coverage-report
          path: coverage

  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - name: Install dependencies
        run: |
          gem install rubocop-rails
          gem install rubocop-rspec
          gem install rubocop-performance
      - name: Rubocop checks
        run: rubocop
