<!DOCTYPE html>
<html>
  <head>
    <title>Melobeem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="facebook-domain-verification" content="h4yj0s2ramp1if9pljt1urtct9rkw5" />
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
