.delete {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.delete__title {
  margin: 50px 20px 16px;
  display: flex;
  justify-content: center;
  color: #4f4f4f;
}

.delete__text {
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0.15px;
  color: #979797;
  margin: auto;
  width: 65%;

  &--long {
    width: 74%;
    margin-bottom: 25px;
  }
}

.delete__snail__icon {
  margin: 35px 0 0;
}

.delete__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;

  &--bottom {
    position: fixed;
    bottom: 100px;
  }
}

.delete__button {
  border-radius: 30px;
  font-weight: 500;
  margin-left: 8px;
  padding: 13px 30px;
  box-sizing: border-box;
  color: white;

  &--reject {
    background: #47d580;
    border-radius: 30px;
  }

  &--confirm {
    border: 1px solid #a3a3a3;
    color: #a3a3a3;
  }

  &--deactivate {
    background: #ff274e;
  }
}
